<div class="container">
  <mat-toolbar color="primary">
    <span>Lista de Produtos</span>
  </mat-toolbar>

  <div class="table-container" *ngIf="produtos.length > 0">
    <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let produto">{{ produto.ID_Produto }}</td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let produto">{{ produto.Descricao }}</td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let produto">{{ produto.Nome_Produto }}</td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="custo">
        <th mat-header-cell *matHeaderCellDef>Custo</th>
        <td mat-cell *matCellDef="let produto">{{ produto.Custo_Producao }}</td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="margem">
        <th mat-header-cell *matHeaderCellDef>Margem</th>
        <td mat-cell *matCellDef="let produto">{{ produto.Margem_Lucro }}</td>
      </ng-container>

      <!-- Coluna Preço -->
      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let produto">{{ produto.Preco | currency:'BRL' }}</td>
      </ng-container>

      <!-- Coluna Estoque -->
      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef>Estoque</th>
        <td mat-cell *matCellDef="let produto">{{ produto.QTDE_Estoque }}</td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let produto">
          <button mat-icon-button color="primary" (click)="editarProduto(produto.ID_Produto)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="deletar">
        <th mat-header-cell *matHeaderCellDef>Deletar</th>
        <td mat-cell *matCellDef="let produto">
          <button mat-icon-button color="warn" (click)="excluirProduto(produto.ID_Produto)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>