<h1 class="app-page-title">
  {{ title }}
  <a routerLink="/produtos/novo" class="btn btn-sm app-btn-secondary float-end px-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Nova Empresa">Novo</a>
</h1>

<div class="app-card app-card-orders-table border-left-decoration">
  <div class="app-card-body">
    <div class="table-responsive">
      <table class="table app-table-hover table-custom table-action">
        <thead>
          <tr>
            <!-- <th scope="col" class="cell">#</th> -->
            <th scope="col" class="cell">Produto/Nome</th>
            <th scope="col" class="cell">Descrição</th>
            <th scope="col" class="cell">Custo de Produção</th>
            <th scope="col" class="cell">Margem de Lucro</th>
            <th scope="col" class="cell">Preço</th>
            <th scope="col" class="cell">Quantidade</th>
            <th colspan="2" class="cell"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <!-- <td scope="row" class="cell">{{ produto.ID_Produto }}</td> -->
            <td class="cell fw-medium">{{ produto.Nome_Produto }}</td>
            <td class="cell">
              <p class="text-xs text-secondary mb-0">{{ produto.Descricao }}</p>
            </td>
            <td class="cell">
              <p class="text-xs text-secondary mb-0">{{ produto.Custo_Producao | number:'1.2-2' }}</p>
            </td>
            <td class="cell">
              <p class="text-xs text-secondary mb-0">{{ produto.Margem_Lucro | number:'1.2-2' }}</p>
            </td>
            <td class="cell">
              <p class="text-xs text-secondary mb-0">{{ produto.Preco | number:'1.2-2' }}</p>
            </td>
            <td class="cell">
              <p class="text-xs text-secondary mb-0">{{ produto.QTDE_Estoque | number:'1.2-2' }}</p>
            </td>
            <td class="cell cell-custom">
              <a [routerLink]="['/produtos/editar', produto.ID_Produto]" class="btn app-btn-primary">
                Editar
              </a>
            </td>
            <td class="cell cell-custom">
              <button type="button" (click)="excluirProduto(produto.ID_Produto)" class="btn app-btn-danger">
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>