<div id="app-sidepanel" class="app-sidepanel" [class.sidepanel-visible]="sidebarVisible">
  <div id="sidepanel-drop" class="sidepanel-drop"></div>
  <div class="sidepanel-inner d-flex flex-column">
    <button id="sidepanel-close" class="sidepanel-close d-xl-none" (click)="closeSidebar()">&times;</button>
    
    <div class="app-branding px-0 d-flex justify-content-center">
      <a class="app-logo" routerLink="">
        <img class="justify-content-center" src="assets/img/mini-logo.svg" alt="logo Pedido10">
      </a>
    </div>
  
    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
      <ul class="app-menu list-unstyled accordion">
        <li class="nav-item">
          <a class="nav-link" routerLink="">
            <i class="fa-solid fa-house me-2"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
  
        <li class="nav-item" *ngIf="hasRole(['admin'])">
          <a class="nav-link" routerLink="/admin/info/1">
            <i class="fa-solid fa-circle-info me-2"></i>
            <span class="nav-link-text">Informações</span>
          </a>
        </li>
      </ul>
  
      <!-- Divider -->
      <hr class="sidebar-divider">
  
      <div class="sidebar-heading">Sistema</div>
  
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
              <i class="fa-regular fa-user me-2"></i>
              <span class="nav-link-text">Clientes</span>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <a class="nav-link" routerLink="/admin/customers">
                <i class="fa-solid fa-person me-2"></i>
                <span class="nav-link-text">Clientes</span>
              </a>
              <a class="nav-link" routerLink="/admin/customer-accounts">
                <i class="fa-regular fa-rectangle-list me-2"></i>
                <span class="nav-link-text">Contas de Cliente</span>
              </a>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo">
              <i class="fa-regular fa-message me-2"></i>
              <span class="nav-link-text">Disparos</span>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <a class="nav-link" routerLink="/admin/shipments">
                <i class="fa-solid fa-paper-plane me-2"></i>
                <span class="nav-link-text">Envios</span>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </nav>
    
    <div class="app-sidepanel-footer" *ngIf="hasRole(['super-admin', 'admin', 'suporte', 'desenvolvimento'])">
      <nav class="app-nav app-nav-footer">
        <ul class="app-menu footer-menu list-unstyled">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/audit">
              <i class="fa-solid fa-magnifying-glass me-2"></i>
              <span class="nav-link-text">Auditoria</span>
            </a>
          </li>
          
          <li class="nav-item" *ngIf="hasRole(['super-admin'])">
            <a class="nav-link" routerLink="">
              <i class="fa-solid fa-list-check me-2"></i>
              <span class="nav-link-text">Permissões</span>
            </a>
          </li>
  
          <li class="nav-item" *ngIf="hasRole(['super-admin'])">
            <a class="nav-link" routerLink="">
              <i class="fa-solid fa-user-group me-2"></i>
              <span class="nav-link-text">Usuários</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>