<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <div class="brand-link">
            <a routerLink="">
                <img mat-card-image src="assets/img/mini-logo.svg" alt="logo Pedido10">
            </a>
        </div>
        <mat-nav-list class="example-nav-list">
            <a mat-list-item class="menu" routerLink="" routerLinkActive="active">
                <mat-icon mat-list-icon>home</mat-icon>
                <span class="list-item-span" *ngIf="isExpanded || isShowing">Início</span>
            </a>
            <a mat-list-item class="menu" routerLink="" routerLinkActive="active">
                <mat-icon mat-list-icon>info</mat-icon>
                <span class="list-item-span" *ngIf="isExpanded || isShowing">Informações Básicas</span>
            </a>
            <a mat-list-item class="menu" routerLink="clientes" routerLinkActive="active">
                <mat-icon mat-list-icon>person</mat-icon>
                <span class="list-item-span" *ngIf="isExpanded || isShowing">Clientes</span>
            </a>
            <mat-list-item class="menu" (click)="showSubmenu = !showSubmenu" >
                <mat-icon mat-list-icon>home</mat-icon>
                <span class="list-item-span" *ngIf="isExpanded || isShowing">
                    Parent Menu
                </span>
                <mat-icon class="menu-button" [ngClass]="{ rotated: showSubmenu }"
                    *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div
                class="submenu"
                [ngClass]="{ expanded: showSubmenu }"
                *ngIf="isShowing || isExpanded">
                    <a mat-list-item routerLink="/submenu1" routerLinkActive="active">Submenu Item 1</a>
                    <a mat-list-item routerLink="/submenu2" routerLinkActive="active">Submenu Item 2</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>